


<!-- ******************************************************************************** APPEARANCE ************************************************************************* -->

<!-- BEGIN : PANE : APPEARANCE -->
<div class="tab-pane active" id="marlinOSD_settings_appearance">

  <!-- BEGIN : Image quality : combo box -->
  <div class="control-group">
    <label class="control-label" for="">Image quality</label>
    <div class="controls">
      <select id=""
              class="input-block"
              data-bind="value: settingsViewModel.settings.plugins.MarlinOSD.img_quality"
              title="{{ _('Graphics quality : medium and high are intended for use with VNC ; these settings slightly increase CPU and memory usage') }}" >
      <option value="0">Low</option>
      <option value="1">Medium</option>
      <option value="2">High</option>
      </select>
      <div class="help-block_Img_Quality">{{ _('') }}</div>
    </div>
  </div>
  <!-- END : Image quality : combo box -->

  <!-- BEGIN : Mode : radio buttons -->
  <div class="control-group">
    <label class="control-label">{{ _('') }}</label>
    <div class="controls">
      <label class="radio">
        <input  type="radio"
              value="0"
              data-bind="checked: settingsViewModel.settings.plugins.MarlinOSD.display_mode, tooltip: {}"
              title="{{ _('Marlin mode : full screen 12864 emulation with solid colors') }}"/> {{ _('Marlin mode : full screen 12864 emulation') }}
      </label>

      <!-- BEGIN : Theme : combo box -->
      <div class="control-group">
        <label class="control-label" for="">Theme</label>
        <div class="controls">
          <select id=""
                  class="input-block"
                  data-bind="value: settingsViewModel.settings.plugins.MarlinOSD.marlin_mode_theme"
                  title="{{ _('Various LCD and OLED displays with predifined colors') }}" >
          <option value="0">LCD Classic : White / Blue</option>
          <option value="1">LCD : Light Blue / Blue</option>
          <option value="2">LCD : Black / White</option>
          <option value="3">LCD : Black / Yellow</option>
          <option value="4">LCD : Black / Blue</option>
          <option value="5">LCD : Black / Green</option>
          <option value="6">Headache</option>
          <option value="7">OLED : Blue</option>
          <option value="8">OLED : White</option>
          <option value="9">OLED : Yellow</option>
          <option value="10">OLED : Green</option>
          <option value="11">Retina Damage</option>
          </select>
          <div class="help-block_Theme">{{ _('') }}</div>
        </div>
      </div>
      <!-- END : Theme : combo box -->

      <br/>

      <label class="radio">
        <input  type="radio"
              value="1"
              checked="checked"
              data-bind="checked: settingsViewModel.settings.plugins.MarlinOSD.display_mode, tooltip: {}"
              title="{{ _('Custom mode ; fully customizable colors and transparency') }}" /> {{ _('Custom mode :') }}
      </label>
    </div>
  </div>
  <!-- END : Mode : radio buttons -->

  <!-- BEGIN : Size : slider + edit box -->
  <div class="control-group">
    <label class="control-label">{{ _('Custom size') }}</label>
    <div class="controls">
      <input  type="range"
              class="input-large"
              min="0"
              max="100"
              step="1"
              data-bind="value: settingsViewModel.settings.plugins.MarlinOSD.size"
              title="{{ _('Marlin UI window size') }}" />
      <div class="input-append">
        <input  input=""
        type="number"
        class="input-mini text-right"
        min="0"
        max="100"
        data-bind="value: settingsViewModel.settings.plugins.MarlinOSD.size"
        title="{{ _('Marlin UI window size') }}" />
        <span class="add-on">%</span>
      </div>
      <div class="help-block_size">{{ _('') }}</div>
    </div>
  </div>
  <!-- END : Size : slider + edit box -->

  <!-- BEGIN : Position : combo box -->
  <div class="control-group">
    <label class="control-label" for="">Custom position</label>
    <div class="controls">
      <select id=""
              class="input-block"
              data-bind="value: settingsViewModel.settings.plugins.MarlinOSD.position"
              title="{{ _('Marlin UI window position') }}" />
      <option value="0">Top-Left</option>
      <option value="1">Top-Center</option>
      <option value="2">Top-Right</option>
      <option value="3">Center-Left</option>
      <option value="4">Center-Center</option>
      <option value="5">Center-Right</option>
      <option value="6">Bottom-Left</option>
      <option value="7">Bottom-Center</option>
      <option value="8">Bottom-Right</option>
      </select>
      <div class="help-block_Position">{{ _('') }}</div>
    </div>
  </div>
  <!-- END : Position : combo box -->

  <br />

  <!-- BEGIN : Foreground color : color control -->
  <div class="control-group">
    <label class="control-label">{{ _('Foreground (text) color') }}</label>
    <div class="controls">
      <input  type="color"
              class="input"
              style="width: 100px; height: 30px"
              data-bind="value: settingsViewModel.settings.plugins.MarlinOSD.fgnd_color"
              title="{{ _('Click here to open the color picker') }}" />
      <div class="input-append">
        <div class="colorPicker">
          <input  type="text"
                  class="colorInput input-block-level"
                  style="width: 100px"
                  data-bind="value: settingsViewModel.settings.plugins.MarlinOSD.fgnd_color"
                  title="{{ _('RGB888 hexadecimal value') }}" />
        </div>
      </div>
      <div class="help-block_viewport_fgnd_color">{{ _('') }}</div>
    </div>
  </div>
  <!-- END : Foreground color : color control -->

  <!-- BEGIN : Foreground opacity : slider + ro edit box -->
  <div class="control-group">
    <label class="control-label">{{ _('Foreground (text) opacity') }}</label>
    <div class="controls">
      <input  type="range"
              class="input-large"
              min="0" max="100"
              step="1"
              data-bind="value: settingsViewModel.settings.plugins.MarlinOSD.fgnd_opacity"
              title="{{ _('Marlin UI text alpha channel') }}" />
      <div class="input-append">
        <input  input=""
                type="number"
                class="input-mini text-right"
                min="0" max="100"
                data-bind="value: settingsViewModel.settings.plugins.MarlinOSD.fgnd_opacity"
                title="{{ _('Marlin UI text alpha channel') }}" />
        <span class="add-on">%</span>
      </div>
      <div class="help-block_viewport_fgnd_color">{{ _('') }}</div>
    </div>
  </div>
  <!-- END : Foreground opacity : slider + edit box -->

  <br />

  <!-- BEGIN : Background color : color control -->
  <div class="control-group">
    <label class="control-label">{{ _('Background color') }}</label>
    <div class="controls">
      <input  type="color"
              class="input"
              style="width: 100px; height: 30px"
              data-bind="value: settingsViewModel.settings.plugins.MarlinOSD.bkgnd_color"
              title="{{ _('Click here to open the color picker') }}" />
      <div class="input-append">
        <div class="colorPicker2">
          <input  type="text"
                  class="colorInput input-block-level"
                  style="width: 100px"
                  data-bind="value: settingsViewModel.settings.plugins.MarlinOSD.bkgnd_color"
                  title="{{ _('RGB888 hexadecimal value') }}" />
        </div>
      </div>
      <div class="help-block_viewport_fgnd_color">{{ _('') }}</div>
    </div>
  </div>
  <!-- END : background color : color control -->

  <!-- BEGIN : Background opacity : slider + edit box -->
  <div class="control-group">
    <label class="control-label">{{ _('Background opacity') }}</label>
    <div class="controls">
      <input  type="range"
              class="input-large"
              style="height: 30px"
              min="0"
              max="100"
              step="1"
              data-bind="value: settingsViewModel.settings.plugins.MarlinOSD.bkgnd_opacity"
              title="{{ _('Marlin UI background alpha channel') }}" />
      <div class="input-append">
        <input  input=""
                type="number"
                class="input-mini text-right"
                min="0" max="100"
                data-bind="value: settingsViewModel.settings.plugins.MarlinOSD.bkgnd_opacity"
                title="{{ _('Marlin UI background alpha channel') }}" />
        <span class="add-on">%</span>
      </div>
      <div class="help-block_viewport_fgnd_color">{{ _('') }}</div>
    </div>
  </div>
  <!-- END : Background opacity : slider + edit box -->

  <br />

  <!-- BEGIN : APPLY NOW BUTTON -->
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-primary" data-bind="click: applyNow"> {{ _('Apply now') }} </button>
    </div>
  </div>
  <!-- END : APPLY NOW BUTTON -->

</div>
  <!-- END : PANE : APPEARANCE -->
