

<!-- ******************************************************************************** SERVICE ************************************************************************* -->

<!-- BEGIN : PANE : SYSTEM -->
<div class="tab-pane" id="marlinOSD_settings_service">


  <!-- BEGIN : INSTALL BUTTON -->
  <div class="control-group">
    <div class="controls">
      <button class="btn" data-bind="click: installService"> {{ _('Install Service') }} </button>
    </div>
  </div>
  <!-- END : INSTALL BUTTON -->

  <!-- BEGIN : UNINSTALL SERVICE BUTTON -->
  <div class="control-group">
    <div class="controls">
      <button class="btn" data-bind="click: uninstallService"> {{ _('Uninstall Service') }} </button>
    </div>
  </div>
  <!-- END : UNINSTALL BUTTON -->

</div>
<!-- END : PANE : SYSTEM -->

